/*!
Theme Name: Blast
Theme URI: http://underscores.me/
Author: Adam Vuic
Author URI: https://torus-inc.tech
Description: Shop theme using GraphQL
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: blast
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Blast is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */
@font-face {
	font-family: "Work Sans";
	src: url('media/Work_Sans/WorkSans-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
}

:root {
    --tblr-heading-color: #262626;
    --tblr-link-color-rgb: 38,38,38;
	--tblr-primary: #315FAD;
	--tblr-primary-rgb: 49, 95, 173;
    --tblr-secondary: #ffdc10;
	--tblr-secondary-fg: #262626;
    --tblr-secondary-rgb: 255,220,16;
	--tblr-info: #E0E0E0;
	--tblr-info-fg: #315FAD;
	--tblr-warning: none;
	--tblr-warning-fg: #262626;
    --tblr-warning-rgb: 255,220,16;
	--tblr-font-size-h1: 56px;
	--tblr-font-size-h2: 40px;
	--tblr-font-size-h3: 24px;
	--tblr-font-size-h4: 20px;
	--tblr-border-radius: 0;
    --tblr-white-rgb: 251,251,251;
	--tblr-font-sans-serif: -apple-system, BlinkMacSystemFont, "Work Sans", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--tblr-shadow-card: 0px 1px 4px 0px #1E293B0D;
	--tblr-shadow-button: 0px 1px 4px 0px #1E293B0D;
    --card-active-color: #ABABAB;
}

@media (max-width:575.98px) {
    :root {
        --tblr-font-size-h1: 40px;
        --tblr-font-size-h2: 24px;
        --tblr-font-size-h3: 20px;
        --tblr-font-size-h4: 20px;
    }
    .dropdown-menu {
        --tblr-dropdown-min-width: 8.5rem;
    }
}

.pagination {    
    --tblr-pagination-active-bg: transparent;
    --tblr-pagination-active-border-color: #315FAD;
    --tblr-pagination-color: #262626;
    --tblr-pagination-active-color: #262626;
}

.btn {
    --tblr-btn-padding-y: 0;
}

.primary-color-icon {
    color: var(--tblr-primary);
    fill: currentColor;
}

.page-link.active:before {
    content : "";
  position: absolute;
  left    : 25%;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:2px solid var(--tblr-primary);
}

.offcanvas {
    --tblr-offcanvas-height: auto;
    max-width: 1220px;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Work Sans", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

textarea {
    resize: none;
    min-height: 115px !important;
}

.navbar-brand-image {
	height: auto;
}

svg {
	height: auto;
}


.page {
	background-color: #fbfbfb;
}

.container {
    padding: 0 15px;
}

.navbar .container-xl {
	background-color: white;
}

footer .container-xl {
    background-color: white;
}

header .container-xl {
	box-shadow: 0px 1px 4px rgba(30, 41, 59, 0.05);
	backdrop-filter: blur(12px);
}

footer .container-xl {
	box-shadow: 0px 1px 4px rgba(30, 41, 59, 0.05);
}

footer .card-title {
    color: var(--tblr-primary);
}

header .input-icon {
	box-shadow: 0px 1px 4px rgba(30, 41, 59, 0.05);
}

header .dropdown-toggle::after {
	content: none;
}

.bg-fade {
	background-image: linear-gradient(180deg, rgba(251, 251, 251, 0) 0%, #FBFBFB 98.6%), url('media/bg-fade.png');
	background-position: 70% 85%;
	max-width: 1440px;
	width: 1440px;
	align-items: center;
	margin: 0 auto;
}

.intersection {
	background-image: url('media/intersection.png');
	width:100%;
	height: 285px;
}

@media (max-width: 1440px) {
	.bg-fade {
		width: 100%;
	}
}

.swiper-image {
	filter: drop-shadow(0px 1px 4px rgba(30,41,59, .05));
}

@media (min-width: 1200px) {
    .navbar .container-xl{
        max-width: 1240px;
    }
    footer .container-xl{
        max-width: 1240px;
    }
    /*.products-slick .slick-track {
        width: 1240px !important;
	}*/
    .slick-list {
        padding: 0;
        width: 1240px;
        margin: auto;
    }
    .products-slick {
        width: 1240px;
    }
    .container-xl {
        max-width: 1240px;
    }
    .scroll-top {
        max-width: 1240px;
    }
}

/* @charset 'UTF-8'; */
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 0;

    display: block;

    width: 24px;
    height: 24px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: black;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 24px;
    line-height: 1;

    opacity: 1;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media(min-width: 576px) {
    .slick-prev
    {
        left: 51%;
        z-index: 2;
    }
    .slick-next
    {
        right: 44%;
    }
}
@media(max-width: 575.98px) {
    .slick-prev
    {
        right: 38px;
        z-index: 2;
        top: 100%;
    }
    .slick-next
    {
        right: 0;
        top: 100%;
    }
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: url('media/chevron_left.svg');
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: url('media/chevron_right.svg');
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

header .form-control {
	line-height: 2;
	font-size: 16px;
}

@media(max-width: 575.98px) {
    header .form-control {
        line-height: 2;
        font-size: 14px;
    }
    .single-item {
        padding: 0;
    }
}

.flex-grow-half {
	flex-grow: .5;
}

@media(min-width:768px) {
    .single-item {
        margin-top: 100px;
        padding: 0;
    }
}

.swiper-page {
	margin-top: 100px;
    width: 65px;
}

.swiper-page::after {
    content: ' / 03';
    font-size: 1rem;
    font-weight: 400;
}

.swiper-height {
	max-height: 465px;
}

@media (min-width: 576px) {
    .products-slick .slick-list {
        margin: 0;
    }
    .media-slick .slick-list {
        margin: 0 10px;
    }
    .media-slick .slick-list .slick-track img {
        margin-right: 90px !important;
        margin-left: 0 !important;
    }       
}

.section-title {
    margin: 0 20px;
}

.products-slick .slick-track div:not(:last-child) {
	margin-right: 10px;
}

.products-slick .slick-track div:not(:first-child) {
	margin-left: 10px;
}

.products-slick .slick-list .slick-track {
	max-width: 1200px;
}

.products-slick .slick-slide {
	width: 224px;
}

.single-item .slick-slide {
	width: 1200px;
}

@media (max-width: 575.98px) {
    .single-item .slick-list .slick-slide {
        width: 390px;
    }
    .products-slick .slick-list {
        padding: 0 16px;
    }
    .categories-slick .slick-list {
        padding: 0 16px;
    }
    .media-slick .slick-list {
        padding: 0;
    }
    .section-title {
        margin: 0 15px;
    }
    .media-slick .slick-list .slick-track img {
        width:100px;
        margin-right: 50px !important;
        margin-left: 0 !important;
    }
}

.categories-slick .slick-track div:not(:last-child) {
	margin-right: 10px;
}

.categories-slick .slick-track div:not(:first-child) {
	margin-left: 10px;
}

.categories-slick .slick-list .slick-track {
	max-width: 1200px
}

.categories-slick .slick-slide {
	width: 285px;
}

.media-slick .slick-track img:not(:last-child) {
	margin-right: 47.5px;
}

.media-slick .slick-track img:not(:first-child) {
	margin-left: 47.5px;
}

.media-slick .slick-list .slick-track {
	max-width: 1200px
}

.media-slick .slick-slide {
	width: 120px;
}

.bg-none {
	background: none;
}

.img-responsive-3x2 {
	--tblr-img-responsive-ratio:67.5%;
}

.img-responsive-6x4 {
	--tblr-img-responsive-ratio:67.5%;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.btn-outline-info {
	--tblr-btn-color: #315FAD;
}

.card-body .active {
    color: var(--card-active-color);
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.woocommerce-breadcrumb {
    display: none;
}

#search-input:focus {
    transition: all 0.7s ease 0s;
}

#search-input:focus ~#phone{
    visibility: hidden;
}

@media(min-width: 576px) {
    .ui-autocomplete {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin: auto;
        width: 40%;
        margin-top: 1rem;
        padding: 5px 6px !important;
        border: 1px solid #E0E0E0;
    }
    .ui-menu-item {
        width: 100%;
        height: 114px;
        padding: 10px 5px;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
    }
    .results {
        grid-column: 1 / -1;
        padding: 10px 5px;
    }
}

.ui-menu-item {
    padding: 10px;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}

.results {
    padding: 10px;
}

.ui-widget-content {
    background: #fbfbfb !important;
}

.ui-widget {
    font-family: var(--tblr-font-sans-serif) !important;
}

.ui-menu-item:hover {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}

.bg-li {
    background: white;
}

.map {
    height: 366px;
}

#search-input-phone {
    width: 100%;
}

#search-input-phone.focused {
    position: relative;
    right: 72%;
    width: 172%;
}